@using HealthWebApp.Data.EntityModel
@model HealthWebApp.Models.Person.PersonCreateModel


@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-controller="Person" asp-action="Create" method="post">
    <div class="form-horizontal">
        <h4>Create new Person</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="NameTitleId" class="col-md-2 control-label">Title</label>
            <div class="col-md-10">
                <select asp-for="NameTitleId" class="form-control" asp-items=@ViewBag.NameTitleID>
                    <option value=""> -- Select Name Title --</option>
                </select>
            </div>
            <span asp-validation-for="NameTitleId" class="text-danger"/>
        </div>
        <div class="form-group">
            <label asp-for="FirstName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MiddleName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MiddleName" class="form-control" />
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LastName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ExtensionName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="ExtensionName" class="form-control"
                    asp-items ="Html.GetEnumSelectList<EnumExtensionName>()"></select>
                <span asp-validation-for="ExtensionName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DateOfBirth" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Sex" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Sex" class="form-control" 
                        asp-items="Html.GetEnumSelectList<EnumGender>()"></select>
                <span asp-validation-for="Sex" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CivilStatus" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="CivilStatus" class="form-control" 
                        asp-items="Html.GetEnumSelectList<EnumCivilStatus>()"></select>
                <span asp-validation-for="CivilStatus" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ContactNumber" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ContactNumber" class="form-control" />
                <span asp-validation-for="ContactNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EmailAddress" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EmailAddress" class="form-control" />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="WorkId" class="col-md-2 control-label">Occupation</label>
            <div class="col-md-10">
                <select asp-for="WorkId" class ="form-control" asp-items="@ViewBag.WorkID">
                    <option value="">-- Select Work --</option>
                </select>
                <span asp-validation-for="WorkId" class="text-danger" />
            </div>
        </div>
        @*<div class="form-group">
            <label asp-for="PhilHealthId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PhilHealthId" class="form-control" />
                <span asp-validation-for="PhilHealthId" class="text-danger"></span>
            </div>
        </div>*@
        <div class="form-group">
            <label asp-for="ReligionId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="ReligionId"  class="form-control" asp-items="@ViewBag.ReligionID">
                    <option value="">-- Select Religion --</option>
                </select>
            </div>
            <span asp-validation-for="ReligionId" class="text-danger" />
        </div>
        <!-- <div class="form-group">
            <label asp-for="FatherId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FatherId" class="form-control" />
                <span asp-validation-for="FatherId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MotherId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MotherId" class="form-control" />
                <span asp-validation-for="MotherId" class="text-danger"></span>
            </div>
        </div> -->
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="PersonConsent" />
                    <label asp-for="PersonConsent">With consent</label>
                </div>
            </div>
        </div>

        @*<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="PersonConsent" />
                    <label asp-for="PersonConsent">With consent</label>
                </div>
            </div>
        </div>*@
        @*<div class="form-group">
            <label asp-for="DateTimeLastUpdated" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DateTimeLastUpdated" class="form-control" />
                <span asp-validation-for="DateTimeLastUpdated" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DateCreated" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DateCreated" class="form-control" />
                <span asp-validation-for="DateCreated" class="text-danger"></span>
            </div>
        </div>*@
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
